<!DOCTYPE html>
<html>
<head>
	<title>Criar evento</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/evento.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shotcut icon" href="/img//rotarylogo.ico">
</head>
<body>
	<header>
		<div id="top">
			<div id="branding"><h1 class="texto" id="titulo">Rotary</h1><img class="logo" src="/img/rotarylogo.png"></div>
			<img id="collapsible" src="img/menu_icon.png" onclick="open_menu();">
			<nav id="menu">
				<span class="fechar" onclick="close_menu();">X</span>
				<ul class="links">
					<li id="home"><a href=""><img class="icone" src="/img/home.png"><a class="texto">Home</a></a></li>
					<li><a href=""><img class="icone" src="/img/medal.png"><a class="texto" href="">Comemorações</a></a></li>
					<li><a href=""><img class="icone" src="/img/doar.png"><a class="texto" href="">Faça uma doação</a></a></li>
					<li><a href=""><img class="icone" src="/img/login.png"><a class="texto" href="/loginpresidente">Meu perfil</a></a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<h1>Criar Evento</h1>
		<section>
			<form>
				<input type="text" placeholder="nome do evento" name="nome_evento" id="nome_evento">
				<input type="date" name="data_evento" id="data_evento">
				<input type="text" placeholder="horário do evento" name="horario_evento" id="horario_evento">
				<input type="text" placeholder="local do evento" name="local_evento" id="local_evento">
				<input type="number" placeholder="numero de convites" name="convites_evento" id="convites_evento">
				<input type="number" placeholder="numero de pessoas" name="pessoas_evento" id="pessoas_evento">
				<textarea name="descricao_evento" id="descricao_evento">Descricao evento</textarea>
				<button type="submit">Criar evento</button>
			</form>
			
		</section>	
	</main>

	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/visual.js"></script>
</body>
</html>