<form action="/tesoureiro/salvar" method="POST">
    <input type="text" name="nome_tesoureiro"></input>
    <input type="text" name="cpf_tesoureiro"></input>
    <input type="text" name="rg_tesoureiro"></input>
    <input type="text" name="email_tesoureiro"></input>
    <input type="text" name="senha_tesoureiro"></input>
    <button type="submit">ADD TESOUREIRO</button>
</form>