<!DOCTYPE html>
<html>
<head>
	<title>Rotary - Adicionar membro</title>
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
	<link rel="stylesheet" type="text/css" href="/css/addmembro.css">	
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
</head>
<body>
	<header>
		<div id="top">
			<div id="branding"><h1 class="texto" id="titulo">Rotary</h1>
			<img class="logo" src="img/rotarylogo.png"></div>
		</div>
	</header>
	<main>	
		<div class="add">
			<h2>Adicionar membro</h2>
			<form>
					<div class="seusdados">
						<h3>Seus dados</h3>
						<input type="text" id="nome_membro" placeholder="Nome">
						<input type="number" id="cel_membro" placeholder="Celular">
						<input type="email" id="email_membro" placeholder="E-mail">
						<input type="text" id="cpf_membro" placeholder="CPF">
						<input type="date" id="aniversario_membro" placeholder="Aniversário">
						<input type="text" id="endereco_membro" placeholder="Endereco">
						<input type="text" id="emprego_membro" placeholder="Emprego">
						<input type="password" id="senha_membro" placeholder="Senha">
					</div>
					<!-- add esposa -->
					<div class="conjuge">
						<h3>Cônjuge</h3>
						<input type="text" id="nome_esp" placeholder="Nome">
						<input type="number" id="cel_esp" placeholder="Celular">
						<input type="email" id="email_esp" placeholder="E-mail">
						<input type="number" id="cpf_esp" placeholder="CPF">
						<input type="date" id="aniversario_esp" placeholder="Aniversário">
						<input type="text" id="endereco_esp" placeholder="Endereco">
						<input type="text" id="emprego_esp" placeholder="Emprego">
					</div>
					<!-- add filhos -->
					<div class="filhos">
						<h3>Filho 1</h3>
						<input type="text" id="nome_fi" placeholder="Nome">
						<input type="number" id="cel_fi" placeholder="Celular">
						<input type="email" id="email_fi" placeholder="E-mail">
						<input type="number" id="cpf_fi" placeholder="CPF">
						<input type="date" id="aniversario_fi" placeholder="Aniversário">
						<input type="text" id="endereco_fi" placeholder="Endereco">
						<input type="text" id="emprego_fi" placeholder="Emprego">
					</div>

					<div class="filhos">
						<h3>Filho 2</h3>
						<input type="text" id="nome_fi2" placeholder="Nome">
						<input type="number" id="cel_fi2" placeholder="Celular">
						<input type="email" id="email_fi2" placeholder="E-mail">
						<input type="number" id="cpf_fi2" placeholder="CPF">
						<input type="date" id="aniversario_fi2" placeholder="Aniversário">
						<input type="text" id="endereco_fi2" placeholder="Endereco">
						<input type="text" id="emprego_fi2" placeholder="Emprego">
					</div>
					<p class="button"><button type="button" onclick="cadastrar()">Adicionar</button></p>
			</form>
			
		</div>
	</main>

	<footer>
		<a href="#">Estágirarios IFMS Campus Dourados &copy; 2019</a>
	</footer>

	 
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="/js/tcadastro.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
	<script src="https://unpkg.com/toastmejs@latest/dist/js/toastme.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<script type="text/javascript" src="/js/adicionarmembro.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>