<!DOCTYPE html>
<html>
<head>
	<title>RotaryClub Dourados Guaicurus</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/alterar_finança.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shotcut icon" href="img//rotarylogo.ico">
</head>
<body>
	<header>
		<div id="top">
			<div id="branding"><h1 class="text" id="titulo">Rotary</h1>
			<img class="logo" src="img/rotarylogo.png"></div>
			<a class="log" href="login.html"><img class="icone" src="img/login.png">Meu perfil</a>
		</div>
	</header>

	<main>
		<div class="formulario">
			<p><input type="number" class="valor"
			id='valor_alter' placeholder="valor a ser alterado"></p>
			<div>
				<button class="bot adicionar" onclick="adicionar();">Adicionar</button>	
				<button class="bot subtrair" onclick="subtrair();">Subtrair</button>	
			</div>
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
	<script src="https://unpkg.com/toastmejs@latest/dist/js/toastme.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<script type="text/javascript" src="/js/evento.js"></script>
	<script type="text/javascript" src="js/financas.js"></script>
</body>
</html>