<!DOCTYPE html>
<html>
<head>
	<title>Rotary - Buscar membro</title>
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
	<link rel="stylesheet" type="text/css" href="/css/addmembro.css">	
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
</head>
<body>
	<header>
		<div id="top">
			<div id="branding"><h1 class="texto" id="titulo">Rotary</h1>
			<img class="logo" src="img/rotarylogo.png"></div>
		</div>
	</header>

	<main>	
		<div class="buscar">
			<h2>Buscar membro</h2>
			<form class="formbusca" action="/membros/buscar" method="POST">
				<div class="buscamembro">
					<input type="text" name="cpf" placeholder="CPF" id="buscar">
					<p class="button2"><button>Buscar</button></p>
				</div>
			</form>
		</div>
	</main>
	
	<% if(usuario) { %>
		<p></p>
	<% } %>

	<footer>
		<a href="#">Estágirarios IFMS Campus Dourados &copy; 2019</a>
	</footer>
	<script type="text/javascript" src="js/main.js"></script>
</body>	
</html>