<!DOCTYPE html>
<html>
<head>
	<title>Rotary - Login</title>
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
	<link rel="stylesheet" type="text/css" href="/css/styleLogin.css">
	<link rel="stylesheet" type="text/css" href="/css/responsividade_login.css">
	<link rel="stylesheet" type="text/css" href="/css/dropdown.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
</head>
<body>
	<header >
		<div id="top">
			<div id="branding"><h1 class="texto" id="titulo">Rotary</h1><img class="logo" src="img/rotarylogo.png"></div>
			<img id="collapsible" src="img/menu_icon.png" onclick="open_menu();">
			<nav id="menu">
				<span class="fechar" onclick="close_menu();">X</span>
				<ul class="links">
					<li id="home">
						<a href="index.html" class="lista">
							<img class="icone" src="img/home.png">
							<span class="texto">Home</span>
						</a>
					</li>
					<li>
						<a href="" class="lista">
							<img class="icone" src="img/medal.png">
							<span class="texto">Comemorações</span>
						</a>
					</li>
					<li class="dropdown">
						<a href="" class="lista dropbtn">
								<img class="icone" src="img/login.png">
								<span class="texto">Meu perfil</span>
						</a>
						<div class="dropdown-content">
							<a href="/logintesoureiro">Tesoureiro</a>
							<a href="/loginpresidente">Administrador</a>
							<a href="/login">Membro</a>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main>	
		<section class="login" id="login">
			<div class="log">
				<h1>Entrar</h1>
				<form class="caixa" action="/login/tesoureiro" method="POST">
					<label for="nome">CPF</label>
					<p><input type="text" id="cpf" name="cpf_tesoureiro"></p>
					<label for="senha">Senha</label>
					<p><input type="password" id="senha" name="senha_tesoureiro"></p>
					<div class="botaoposition"><a class="btnlogin" onclick="login_tesoureiro()" >Entre</a></div>
				</form>
			</div>
		</section>
	</main>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
	<script src="https://unpkg.com/toastmejs@latest/dist/js/toastme.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<script type="text/javascript" src="/js/visual_login.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>