<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shotcut icon" href="/img//rotarylogo.ico">
	<link rel="stylesheet" type="text/css" href="/css/perfil_tesoureiro.css">
	<link rel="stylesheet" type="text/css" href="/css/responsividade_perfil.css">
</head>
<body>
	<header>
		<div id="top">
			<div id="branding"><h1 class="text" id="titulo">Rotary</h1>
			<img class="logo" src="img/rotarylogo.png"></div>
			<a class="log" href="login.html"><img class="icone" src="img/login.png">Meu perfil</a>
		</div>
	</header>

	<div id="perfil" class="secao">
		<img class="im_perfil" src="">
		<p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc non massa volutpat vestibulum. Nunc eget placerat erat, in ornare lacus. Donec eros quam, ultricies ac justo id, consequat fermentum nunc. Quisque suscipit eleifend ipsum, in blandit dolor ullamcorper at. Ut non elit id diam malesuada dictum non sed lorem. Ut pulvinar odio nunc, vel mattis massa ultrices sed. Aliquam justo orci, tempor ac nisl vel, dictum volutpat augue. Ut malesuada justo tincidunt tellus aliquet, nec tincidunt augue posuere. Fusce gravida lorem ac diam dignissim, in dignissim neque blandit. Proin a imperdiet neque.</p>
	</div>

	<div id="form2" class="secao">
		<h1 class="titulo">Gerenciar finanças</h1>
		<div class="op1">
			<h2 class="funcao">Alterar</h2>
			<a href="/alterarfinancas"><img class="simbol" src="img/finanças.png"></a>
		</div>
		<div class="op2">
			<h2 class="funcao">Ver tabela</h2>
			<a href="/financas"><img class="simbol" src="img/ver_finanças.png"></a>
		</div>
	</div>

	<script type="text/javascript" src="js/perfil_tesoureiros.js"></script>
</body>
</html>